<footer class="w-full bg-black text-white ">
	<div class="relative float-left clear-both h-[1vw] max-h-[20px] w-full bg-color-line  move-background bg-[length:150vw]">

	</div>
	<div class="py-[8%] px-[10%]">
		<div class="text-[4vw] text-center">
			<span class="font-light">
				Des projets?
			</span>
			<a href="" id="contactTextFooter" class="anim-contact font-black font-th-title tracking-[-9px]">
				<span class="char">C</span>
				<span class="char">o</span>
				<span class="char">n</span>
				<span class="char">t</span>
				<span class="char">a</span>
				<span class="char">c</span>
				<span class="char">t</span>
				<span class="char">e</span>
				<span class="char">z</span>
				<span class="char">-</span>
				<span class="char">n</span>
				<span class="char">o</span>
				<span class="char">u</span>
				<span class="char">s</span>
			</a>


		</div>
		<div class="flex flex-row justify-between mt-[8%]">
			<div>
				<svg width="125" height="94" viewbox="0 0 125 94" class="fill-white socials-footer hover:animate-footer-text-anim" xmlns="http://www.w3.org/2000/svg">
					<path d="M118.1 47.7049C115.942 51.4433 111.925 56.6234 107.183 56.6234C106.745 56.6234 106.169 56.3351 105.602 55.3309C104.588 53.3125 104.021 48.8582 106.457 42.9622C107.034 41.3813 109.34 35.4953 115.654 26.1492L109.052 21.844C102.579 31.4685 99.855 37.792 98.99 40.0888C97.8764 43.0119 97.2003 45.945 96.9518 48.6991C94.6749 52.2984 90.8271 56.6234 86.4921 56.6234C86.0546 56.6234 85.4779 56.3351 84.9112 55.3309C83.897 53.3125 83.3303 48.8582 85.7663 42.9622C90.5089 28.5951 98.7017 16.5247 108.764 5.31932L102.868 0C86.0049 18.2249 80.5563 32.3136 78.2993 40.0888C76.798 46.3626 76.0622 47.4464 76.0622 47.4464C73.9047 51.1848 70.1066 56.6234 65.3639 56.6234C64.9364 56.6234 64.3597 56.3351 63.783 55.3309C62.7788 53.3125 62.2022 48.8582 64.648 42.9622C65.2247 41.3813 67.5215 35.4953 73.845 26.1492L66.2985 21.4065C61.4067 26.875 57.9566 35.0678 57.6782 36.072C57.2408 37.0762 56.8132 38.0804 56.2366 39.0846C53.9398 45.1198 49.048 56.6234 41.4319 56.6234C41.0044 56.6234 40.4277 56.3351 39.8511 55.3309C38.7077 53.3125 38.2702 48.8582 40.7161 42.9622C41.2927 41.2421 43.5895 35.4953 49.913 26.1492L43.3012 21.844C38.7574 28.605 36.5899 32.6219 35.0885 35.8731C35.188 32.5622 34.0445 30.693 32.7421 28.3763C31.1612 25.5029 28.5761 23.6337 25.5535 23.057C24.9868 22.9178 24.261 22.9178 23.5451 22.9178C16.3566 22.9178 8.17374 30.0964 3.99783 40.5859C1.27354 47.7745 1.1244 54.963 3.70949 59.7057C5.57871 62.8674 9.02881 65.1642 12.7673 65.1642C19.4388 65.1642 26.8262 60.9385 31.1313 51.8609C31.012 55.3209 31.5986 56.7328 32.9509 59.2085C34.8201 62.3703 38.2702 64.667 42.0086 64.667C42.5853 64.667 43.3012 64.5278 44.017 64.3787C37.9222 74.5898 30.7635 82.4843 21.1489 85.0396C18.1164 85.8449 14.8552 85.4969 12.1707 83.8862C11.2063 83.3195 10.4009 82.6633 9.83417 81.9275C8.4422 80.1179 8.13397 77.8908 9.06858 75.952L1.00509 73.178C-0.854191 77.4831 -0.0786634 82.4843 2.87431 86.3818C4.80318 88.8874 7.54736 91.731 13.8311 92.7451C15.8196 93.0732 16.5753 93.103 18.1065 93.0533C28.6059 92.7053 37.4847 86.9983 45.4587 76.4491C49.0977 71.6368 52.9257 65.025 56.3956 58.1844C56.5448 58.5324 56.7138 58.8804 56.8928 59.2085C58.7521 62.3703 62.2022 64.667 65.9406 64.667C69.868 64.667 74.1135 62.5294 77.8121 58.8208C77.8718 58.95 77.9414 59.0793 78.011 59.2085C79.8802 62.3703 83.3303 64.667 87.0687 64.667C90.8072 64.667 95.0129 62.6387 98.652 59.1091C98.6619 59.1389 98.6818 59.1787 98.7017 59.2085C100.571 62.3703 104.021 64.667 107.759 64.667C113.785 64.667 120.546 59.6361 125 51.5924L118.1 47.7049ZM24.9868 44.4735C23.1176 49.2162 18.0866 57.1206 12.1906 57.1206C11.763 57.1206 11.1864 56.8322 10.6097 55.828C9.60549 53.8097 9.02881 49.3554 11.4747 43.4594C13.3439 38.7267 18.2258 30.8222 24.1218 30.8222C24.5493 30.9614 25.126 31.1006 25.7027 32.1148C26.856 34.1232 27.2835 38.5775 24.9868 44.4735Z"/>
					<path d="M76.291 11.782C73.4176 11.782 71.1208 14.0787 71.1208 17.1013C71.1208 20.1239 73.4176 22.2715 76.291 22.2715C79.1644 22.2715 81.6103 19.9747 81.6103 17.1013C81.6103 14.0787 79.3036 11.782 76.291 11.782Z"/>
					<path d="M118.1 11.782C115.226 11.782 112.93 14.0787 112.93 17.1013C112.93 20.1239 115.226 22.2715 118.1 22.2715C121.122 22.2715 123.419 19.9747 123.419 17.1013C123.419 14.0787 121.122 11.782 118.1 11.782Z"/>
				</svg>
				<address class="not-italic mt-[8%] font-semibold">
					<p>
						02 place André Emlinger
						<br>
						64100 Bayonne
						<br>
						<a href="tel:0678743440">06 78 74 34 40</a>
					</p>
				</address>
			</div>
			<div class="uppercase">
				<ul>
					<li class="leading-[170%]"><a class="relative after-footer hover:after:animate-after-footer-anim" href="#">Réalisations</a></li>
					<li class="leading-[170%]"><a class="relative after-footer hover:after:animate-after-footer-anim" href="#">Clients</a></li>
					<li class="leading-[170%]"><a class="relative after-footer hover:after:animate-after-footer-anim" href="#">A propos</a></li>
					<li class="leading-[170%]"><a class="relative after-footer hover:after:animate-after-footer-anim" href="#">Locations</a></li>
				</ul>
			</div>
			<div class="font-semibold">
				<ul>
					<li>Tag 1</li>
					<li>Tag 2</li>
					<li>Tag 3</li>
					<li>Tag 4</li>
					<li>Tag 5</li>
					<li>Tag 6</li>
					<li>Tag 7</li>
				</ul>
			</div>
			<div>
				<h3 class="text-[60px] font-semibold tracking-[-3px] leading-[75%] font-th-title">
					Suivez-nous
				</h3>
				<div class="flex flex-row justify-around items-center p-[20px]">
					<a href="">
						<svg class="fill-white w-[40px] socials-footer hover:animate-footer-text-anim" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
					</a>
					<a href="">
						<svg class="fill-white w-[40px] socials-footer hover:animate-footer-text-anim" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"/></svg>
					</a>
					<a href="">
						<svg class="fill-white w-[40px] socials-footer hover:animate-footer-text-anim" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
					</a>
					
				</div>
			</div>
		</div>
	</div>
</footer>
