<header>
	<nav>
		<ul>
			<li><a href="#">Logo</a></li>
			<li><a href="#">Réalisations</a></li>
			<li><a href="#">Clients</a></li>
			<li><a href="#">A propos</a></li>
			<li><a href="#">Locations</a></li>
		</ul>
	</nav>
	<a>
		<span class="anim-contact" id="contactText">
			<span class="char">C</span>
			<span class="char">o</span>
			<span class="char">n</span>
			<span class="char">t</span>
			<span class="char">a</span>
			<span class="char">c</span>
			<span class="char">t</span>
			<span class="char">e</span>
			<span class="char">z</span>
			<span class="char">-</span>
			<span class="char">n</span>
			<span class="char">o</span>
			<span class="char">u</span>
			<span class="char">s</span>
		</span>
	</a>
</header>
