{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<main>
		
		{# Container hero #}
			<div id="hero" class="w-full h-lvh flex-col text-center bg-seamless bg-cover overflow-hidden">
				<div class="relative  top-1/2 -translate-y-[93%]">
					<div class="inline-block -translate-x-1/2 container_logo absolute bottom-[142px]">
						<svg class="inline-block" width="200" height="149" viewbox="0 0 323 241" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M305.932 126.52L320.27 134.598C308.972 153.998 292.627 165.55 278.55 165.55C269.734 165.55 261.45 160.11 256.929 152.477L255.96 149.57L253.676 151.785C244.527 160.659 234.156 165.55 225.204 165.55C216.395 165.55 208.116 160.118 203.593 152.493C203.417 152.165 203.274 151.897 203.155 151.639L201.951 149.031L199.923 151.065C190.615 160.397 180.149 165.55 170.731 165.55C161.918 165.55 153.639 160.114 149.144 152.49C148.719 151.708 148.316 150.878 147.96 150.048L146.274 146.115L144.338 149.932C135.414 167.524 125.607 184.451 116.329 196.721L116.329 196.721C95.9929 223.624 73.6044 237.867 47.3387 238.738C43.5258 238.861 41.7084 238.794 36.7063 237.968L36.6994 237.967C28.856 236.701 23.3143 234.312 19.1612 231.521C15.0037 228.727 12.146 225.471 9.72096 222.322C2.8969 213.311 0.886997 201.977 4.46877 192.006L21.4697 197.855C19.7986 203.065 20.9675 208.691 24.4904 213.271L24.4912 213.272C26.1512 215.427 28.4467 217.274 31.0786 218.821C38.5065 223.275 47.4755 224.208 55.7611 222.008L55.7614 222.008C81.3265 215.214 100.135 194.285 115.924 167.832L118.26 163.919L113.799 164.849C111.913 165.242 110.273 165.55 109.029 165.55C100.217 165.55 91.9367 160.115 87.4146 152.488C85.6891 149.327 84.5434 147.001 83.8362 144.427C83.1317 141.862 82.834 138.939 82.9836 134.602L79.1777 133.676C68.3623 156.481 49.9626 166.832 33.6378 166.832C24.8267 166.832 16.5465 161.397 12.0241 153.77C5.76547 142.256 5.99078 124.409 12.8925 106.188C18.1722 92.932 25.9663 81.8146 34.6489 74.0349C43.3585 66.2308 52.8112 61.9107 61.4256 61.9107C63.3509 61.9107 64.9509 61.9231 66.1267 62.2119L66.1776 62.2244L66.229 62.2342C73.4194 63.6061 79.588 68.0463 83.3852 74.9482L83.3897 74.9562L83.3942 74.9643C83.5294 75.2047 83.6634 75.4426 83.7962 75.6781C86.9721 81.3132 89.4165 85.6502 89.1882 93.2525L93.003 94.151C96.6975 86.1504 101.999 76.276 112.925 59.8956L126.616 68.8103C111.161 91.9241 105.374 106.287 103.823 110.888C97.4163 126.37 98.3637 138.53 101.726 144.465L101.732 144.475C103.395 147.372 105.424 148.812 107.542 148.812C118.422 148.812 127.006 140.624 133.425 131.16C139.872 121.654 144.555 110.245 147.525 102.45C148.938 99.9688 150.014 97.494 151.043 95.1279C151.116 94.9593 151.189 94.7914 151.262 94.624L151.319 94.495L151.356 94.3595C151.654 93.2836 153.972 87.5138 157.85 80.1699C161.47 73.3136 166.357 65.2681 172.036 58.6166L188.3 68.8378C172.821 92.0084 167.06 106.688 165.535 110.864C159.087 126.433 160.47 138.526 163.378 144.37L163.404 144.423L163.434 144.475C165.097 147.372 167.126 148.812 169.244 148.812C176.142 148.812 182.132 144.867 186.955 140.004C191.795 135.125 195.727 129.054 198.538 124.188C198.544 124.177 198.551 124.166 198.558 124.154C198.589 124.104 198.626 124.041 198.668 123.964C198.753 123.81 198.863 123.595 198.999 123.302C199.27 122.717 199.651 121.801 200.146 120.396C201.133 117.595 202.589 112.794 204.529 104.694C210.216 85.1185 223.901 49.6356 266.068 3.63428L278.321 14.6891C252.885 43.274 232.104 74.175 219.97 110.894C213.564 126.444 214.917 138.53 217.855 144.377L217.876 144.42L217.9 144.462C219.544 147.376 221.577 148.812 223.718 148.812C229.977 148.812 235.7 145.698 240.492 141.595C245.303 137.477 249.374 132.195 252.375 127.45L252.634 127.042L252.677 126.561C253.3 119.653 254.999 112.269 257.809 104.894L257.812 104.886C259.936 99.2475 266.627 83.6682 282.446 59.8972L296.113 68.81C280.642 91.9985 274.853 106.689 273.327 110.865C266.907 126.429 268.26 138.526 271.2 144.377L271.222 144.42L271.245 144.462C272.89 147.376 274.922 148.812 277.063 148.812C283.915 148.812 290.032 145.082 295.009 140.383C299.447 136.193 303.168 131.058 305.932 126.52ZM67.0033 116.22L67.0062 116.212C73.0381 100.728 72.1204 88.5477 68.7248 82.6304C67.8537 81.0996 66.9092 80.1057 65.912 79.444C65.0425 78.867 64.1999 78.6004 63.6917 78.4395C63.6338 78.4212 63.5803 78.4043 63.5316 78.3884L63.2298 78.2902H62.9124C54.4157 78.2902 46.9601 83.9502 41.1943 90.7069C35.3779 97.523 30.9253 105.862 28.4515 112.121C21.992 127.702 23.3754 139.805 26.2845 145.652L26.3111 145.705L26.3408 145.757C28.0041 148.653 30.0325 150.093 32.151 150.093C40.6398 150.093 48.19 144.442 54.0509 137.686C59.9687 130.864 64.5252 122.507 67.0033 116.22Z" stroke="#EB620C" stroke-width="4"/>
							<path d="M186.087 44.9151C186.087 38.1894 191.15 33.2007 197.417 33.2007C204.082 33.2007 209.131 38.2293 209.131 44.9151C209.131 51.1458 203.795 56.2451 197.417 56.2451C191.075 56.2451 186.087 51.5656 186.087 44.9151Z" stroke="#EB620C" stroke-width="4"/>
							<path d="M293.88 44.9151C293.88 38.1893 298.943 33.2007 305.21 33.2007C311.898 33.2007 316.924 38.2268 316.924 44.9151C316.924 51.1818 311.935 56.2451 305.21 56.2451C298.868 56.2451 293.88 51.5656 293.88 44.9151Z" stroke="#EB620C" stroke-width="4"/>
						</svg>
					</div>
					<h1 class="text-[6vw] lg:text-th-h1 font-th-title tracking-th-h1 font-black">On prononce Oyili.</h1>
					<div class="absolute items-center inline-block -translate-x-1/2 bottom-[-110px]">
						<span>
							<span class="text-black text-th-subtittle font-normal">
								Société de production vidéo et photo.
							</span>
						</span>
					</div>
					<div class="container_dot overflow-hidden w-[15px] h-[1500px] absolute left-1/2 -translate-x-1/2 top-[193%] after:bg-dot  after:w-full after:h-[200%] after:inline-block after:animate-dot-line"></div>
				</div>
			</div>
		{# Fin container hero#}

<section class="pb-[8%]">
		{# Container video#}
			<div class="intro block overflow-visible relative w-full h-[70vh]">
					<div class="w-full h-full overflow-hidden absolute bottom-0">
						<div style="padding:56.25% 0 0 0;position:relative;">
							<iframe src="https://player.vimeo.com/video/876324802?h=c911a084d9&autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; autoplay=1; fullscreen; picture-in-picture" allowfullscreen></iframe>
							<script src="https://player.vimeo.com/api/player.js"></script>
						</div>
					</div>

			{# Container titre #}
			{# ICI HEADING #}
<div class="px-[10%] w-full h-full absolute top-0 visible">

				<div class="absolute bottom-[-7px] z-10">				
					<div class="">
						<span class="text-th-h1 font-th-title tracking-th-h1 font-black">
							<span class="move-background table relative leading-[1] px-[10px] left-[-10px] bg-color-line bg-[length:100vw_4.2em] bg-repeat-x bg-[left_top] before:content-[''] before:block before:absolute before:top-[-10px] before:left-[-60px] before:w-[calc(100%+120px)] before:h-[calc(100%+20px)] before:bg-white  before:-z-10">
							Vous parlez, 
							</span>
							
							<span class="move-background table relative leading-[1] px-[10px] left-[-10px] bg-color-line-offset bg-[length:100vw_4.2em] bg-repeat-x bg-[left_top] before:content-[''] before:block before:absolute before:top-[-10px] before:left-[-60px] before:w-[calc(100%+120px)] before:h-[calc(100%+20px)] before:bg-white  before:-z-10">
								Nous racontons.
							</span>
						</span>
					</div>
				</div>
</div>
		{# Fin container titre #}

			</div>
		{# Fin container video #}


			<div class="px-[10%]">
				<div class="pr-[30%] my-[60px]">
					<p class="text-subtitle">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme Du texte.</p>
				</div>
				<div class="pb-[8%] font-th-palanquin">
					<p class="uppercase font-light">Voir notre <span class="font-bold">travail</span></p>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
